@charset "utf-8";

/* common
---------------------------------------------*/
* {margin:0;padding:0;}

a:link,a:visited {
	color: #ffffff;
	text-decoration:underline;
}
a:hover,a:active {
	color: #d90909;
	text-decoration:underline;
}

.impact   {font-size:20pt; font-weight:bold;}
.impact2  {color:red;}
.impact3  {background:yellow; color:#000;}
#impact4  {underline;}
.impact5  {background:#173B50; padding:2px 5px; color:#fff;}
.impact6  {background:#f4f4f4; padding:3px; line-height:1.1;}
.impact7  {background: #B60000; padding:2px 5px; color:#fff;}
.style2   {color: #FF0000}
.style3   {color: #333333}
.style4   {color: #000000}

.red{color: #B60000;}
img{ border: none;}

/* ボタンのマウスオーバーで明るくする */
.btn:hover {
  filter: brightness(120%);
}


/* animation
---------------------------------------------*/
.feedInUp {
	opacity: 0;
	transform: translate(0,30px); 
	-webkit-transform: translate(0,30px); 
	transition: 1.5s;
}
.feedInUp_On {
	opacity: 1.0;
	transform: translate(0,0); 
	-webkit-transform: translate(0,0);
}

/* layout
---------------------------------------------*/


/*TopIntro-Start*/
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	min-width: 1002px;
	
  background-image: url("../images/bg.jpg");
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: top center;
	
-webkit-text-size-adjust:none;
	
  text-align:center;
  font-size:25px;
  font-family: 'meiryo', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
    color: #383d5c;
}

#head1 { background: url("../images/header_01.png") no-repeat top center; height:    880px; } 
#head2 { background: url("../images/header_02.png") no-repeat top center; height:    454px; } 
/* #mu { background: url("../images/mu.png") no-repeat center; height:    63px; }  */
#kome { background: url("../images/kome.png") no-repeat top center; height:    38px; } 
#present{ background: url("../images/present.png") no-repeat top center; height:    1252px;}
#head3_1 { background: url("../images/header_03_1.png") no-repeat top center; height:    800px; } 
#head3 { background: url("../images/header_03.png") no-repeat top center; height:    301px; } 
#head4 { background: url("../images/header_04.png") no-repeat top center; height:    549px; } 
#worry{ background: url("../images/worry.png") no-repeat top center; height:    1201px;}
#head5 { background: url("../images/header_05.png") no-repeat top center; height:    743px; } 
#head6 { background: url("../images/header_06.png") no-repeat top center; height:    616px; } 
#head7 { background: url("../images/header_07.png") no-repeat top center; height:    715px; } 
#head8 { background: url("../images/header_08.png") no-repeat top center; height:    1076px; } 
#head10 { background: url("../images/header_10.png") no-repeat top center; height:    395px; } 
#head11 { background: url("../images/header_11.png") no-repeat top center; height:    808px; } 
#head12 { background: url("../images/header_12.png") no-repeat top center; height:    521px; } 
#head13 { background: url("../images/header_13.png") no-repeat top center; height:    657px; } 
#head14 { background: url("../images/header_14.png") no-repeat top center; height:    697px; } 
#head15 { background: url("../images/header_15.png") no-repeat top center; height:    648px; } 
#head16 { background: url("../images/header_16.png") no-repeat top center; height:    379px; } 
#head17 { background: url("../images/header_17.png") no-repeat top center; height:    713px; } 
#head18 { background: url("../images/header_18.png") no-repeat top center; height:    789px; } 
#head19 { background: url("../images/header_19.png") no-repeat top center; height:    485px; } 
#who { background: url("../images/who.png") no-repeat top center; height:    1063px; }
#what { background: url("../images/what.png") no-repeat top center; height:    1867px; }
#life { background: url("../images/life.png") no-repeat top center; height:    992px; }
#head25 { background: url("../images/header_25.png") no-repeat top center; height:    483px; } 
#head26 { background: url("../images/header_26.png") no-repeat top center; height:    278px; } 
#head27 { background: url("../images/header_27.png") no-repeat top center; height:    620px; } 
#head28 { background: url("../images/header_28.png") no-repeat top center; height:    660px; } 
#head29 { background: url("../images/header_29.png") no-repeat top center; height:    702px; } 
#head30 { background: url("../images/header_30.png") no-repeat top center; height:    620px; } 
#head31 { background: url("../images/header_31.png") no-repeat top center; height:    547px; } 
#head32 { background: url("../images/header_32.png") no-repeat top center; height:    538px; } 
#head33 { background: url("../images/header_33.png") no-repeat top center; height:    763px; } 
#head34 { background: url("../images/header_34.png") no-repeat top center; height:    818px; } 
#head35 { background: url("../images/header_35.png") no-repeat top center; height:    1432px; } 
#head36 { background: url("../images/header_36.png") no-repeat top center; height:    1687px; } 
#head37 { background: url("../images/header_37.png") no-repeat top center; height:    5003px; } 
/* #head38 { background: url("../images/header_38.png") no-repeat top center; height:    946px; } 
#head39 { background: url("../images/header_39.png") no-repeat top center; height:    962px; } 
#head40 { background: url("../images/header_40.png") no-repeat top center; height:    707px; } 
#head41 { background: url("../images/header_41.png") no-repeat top center; height:    1009px; }  */
#head42 { background: url("../images/header_42.png") no-repeat top center; height:    1638px; } 
#head43 { background: url("../images/header_43.png") no-repeat top center; height:    944px; } 
#head44 { background: url("../images/header_44.png") no-repeat top center; height:    232px; } 
#head45 { background: url("../images/header_45.png") no-repeat top center; height:    884px; } 
#head46 { background: url("../images/header_46.png") no-repeat top center; height:    1062px; } 
#head47 { background: url("../images/header_47.png") no-repeat top center; height:    1113px; } 
#Seminarphoto { background: url("../images/Seminarphoto.png") no-repeat top center; height:    655px; } 
#head48 { background: url("../images/header_48.png") no-repeat top center; height:    1317px; } 
#head49 { background: url("../images/header_49.png") no-repeat top center; height:    167px; } 
#head50 { background: url("../images/header_50.png") no-repeat top center; height:    38px; } 
#head51 { background: url("../images/header_51.png") no-repeat top center; height:    29px; } 
#head52 { background: url("../images/header_52.png") no-repeat top center; height:    39px; } 
#head53 { background: url("../images/header_53.png") no-repeat top center; height:    23px; } 
#form { background: url("../images/form.png") no-repeat top center; height:    390px; } 

#br1 {
    display: block;
    content: "";
    height: 580px;
}
#br2 {
    display: block;
    content: "";
    height: 70px;
}

input {
	text-align: center;
  width: 650px;
  height: 70px;
  box-sizing: border-box;
  margin: 0px 0 7px 0;
  padding: .8px;
  border-radius: 10px;
  /* border: 2px solid #aaa; */
	font-size: 22px;
}

form input[type="email"] {
    border: solid 1px #aaa;
}
.input2 {
	text-align: center;
  width: 650px;
  height: 90px;
  box-sizing: border-box;
  margin: 90px 0 0 0;
  padding: .8em;
  border-radius: 10px;
  border: 2px solid #aaa;
	font-size: 30px;
}

/*アニメーションボタン*/
.btn{
    width: 695px;
    height: auto;
  display: block;
  visibility: visible !important;
	animation-fill-mode: both !important;
  -webkit-animation-fill-mode: both !important;
  -webkit-animation-iteration-count: infinite !important;
  animation-iteration-count: infinite !important;
  -webkit-animation: scalechange1 1.8s;
  animation: scalechange1 1.8s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@keyframes scalechange1 {
    0% {
        transform: scale(1);

        opacity: 1;
    }

    25% {
        transform: scale(1.03);
    }

    40% {
        transform: scale(.9);
    }

    50% {
        transform: scale(1.02);
    }

    60% {
        transform: scale(.93);
    }

    70% {
        transform: scale(1.01);

        opacity: 1;
    }

    80% {
        transform: scale(.95);
    }

    90% {
        transform: scale(1.01);
    }

    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes scalechange1 {
    0% {
        transform: scale(1);

        opacity: 1;
    }

    25% {
        transform: scale(1.03);
    }

    40% {
        transform: scale(.9);
    }

    50% {
        transform: scale(1.02);
    }

    60% {
        transform: scale(.93);
    }

    70% {
        transform: scale(1.01);

        opacity: 1;
    }

    80% {
        transform: scale(.95);
    }

    90% {
        transform: scale(1.01);
    }

    100% {
        transform: scale(1);
    }
}
/*アニメーションボタンここまで*/


#wrap {

	background-image: url("../images/header_53.png");
	background-repeat: repeat-y;
	background-position: center top;
	background-position:50% 0%;
}
#wrap2 {


	background-image: url("../images/header_51.png");
	background-repeat: repeat-y;
	background-position: center top;
	background-position:50% 0%;
}
.flex_box_01{
	display: flex;
	justify-content: center;
	width: 900px;
}
.flex_item_01{
	width: 50px;
	height:50px;
	margin: 0px 20px 5px 20px;
}
.flex_item_02{
	width: 900px;
}
.flex_item_02_1{
	color: #333333;
	width: 900px;
	font-weight: bold;
    font-size: 35px;
}


#container {

	text-align:left;
	width:1000px;
	margin:0 auto;
	
	
}

#text {

	text-align:left;
	width:850px;
	margin:0 auto;
	
	
}

.container {

	text-align:left;
	width:1200px;
	margin:0 auto;
	
	
}

.white {
  color: #fff;
}

.text-center {
text-align: center;
}

#footer {  
	background-color: #aa5b61;
   padding-bottom: 70px;
}
--------------------------- */

ol,
ul{
	list-style-position: inside;
	padding-left:10px;
}
ol li,
ul li{
	text-align:left;
}


.cta_limit{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    text-shadow: 
    -2px -2px 2px white,
     2px -2px 2px white,
    -2px  2px 2px white,
     2px  2px 2px white,
    -2px  0px 2px white,
     2px  0px 2px white,
     0px -2px 2px white,
     0px  2px 2px white;
}
.limit2{
    font-size: 28px;
    margin-bottom: 15px;
 
}
/*==============================================================================================================================================================================================
*
*
* 下に固定ボタン
*
*
==============================================================================================================================================================================================*/
.fix_btn {
	position: fixed;
	z-index: 11111;
	bottom: 0;
	width: 100vw;
	height: 87px;
	background: rgba(134, 130, 130, 0.85);
}
	.fix_btn .formarea {
		position: absolute;
		bottom: 10px;
		left: 50%;
		width: 900px;
     
		margin: 0 auto;
		transform: translateX(-50%);
		text-align: center;
	
		

		
	}
    .formarea form input[type="email"] {
        width: 50%;
        text-align: center;
        border: solid 1px gray;
        border-radius: 10px;
        background: white;
        font-size: 18px;
        height: 52px;
        margin-top: 15px;
     
    
    }
    .formarea .formbtn {
        width: 400px;
       height: 69px;
      
    }
	.cta_text2 {
        
		margin-left: 125px;
		text-align: start;
		color: white;
		font-size: 12px;
		font-weight: 700;
        margin-bottom: -15px;
		
	}

.cta_flex {
	display: flex;
	justify-content: center;
	height: 70px;

	gap: 20px;
}

/*==============================================================================================================================================================================================
*
*
* スライドショー
*
*
==============================================================================================================================================================================================*/


.slick-slide{
    width: 500px !important;
    height: 283px;
    margin-right:10px !important;
}
.slider_item img{
    width:100%;
    height: auto; 
   
}
.slider_item_text{
    font-size: 18px;
text-align: center;
margin-top: 10px;
}